{# @author Jonathan Claros Santande <jclaros@lysoftbo.com> #}
{% extends 'DemoBlogBundle::layout.html.twig' %}

{% block title %} About  {% endblock%}

{% block body %}
<header>
  <h1> About this Blog </h1>
</header>
    
<article>
  <p>
    This is the body of the about page
  
  </p>
  
</article>
{% endblock %}